/* ---------- HEADER ---------- */

header {
    background: linear-gradient(
        to bottom,
        #1b1b1b,
        #111111
    );

    padding: 50px;
    text-align: center;

    border-top: 3px solid #ff7a00;
    border-bottom: 3px solid #ff7a00;
}

header h1 {
    font-size: 60px;
    color: #ff7a00;
    letter-spacing: 6px;

    text-shadow:
        0 0 15px rgba(255, 122, 0, 0.7);
}

header p {
    margin-top: 10px;
    color: #bbbbbb;
    letter-spacing: 2px;
}

/* ---------- NAVIGATION ---------- */

nav {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(12px, 1.7vw, 28px);

    padding: 18px 20px;

    background: rgba(18, 18, 18, 0.92);
    backdrop-filter: blur(10px);

    border-bottom: 2px solid #222222;
}

nav a {
    flex-shrink: 0;
    white-space: nowrap;
}

nav a {
    position: relative;

    padding: 12px 6px;

    color: white;
    text-decoration: none;
    font-family: inherit;
    font-weight: bold;

    transition: 0.25s;
}

nav a:hover {
    color: #ff7a00;
    text-shadow: 0 0 15px #ff7a00;
}

nav a.active {
    color: #ff7a00;
    text-shadow:
        0 0 15px rgba(255, 122, 0, 0.8);
}

nav a.active::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -6px;

    width: 100%;
    height: 3px;

    background: #ff7a00;

    box-shadow:
        0 0 12px #ff7a00;
}

nav a::before {
    content: "";

    position: absolute;
    left: 50%;
    bottom: -6px;

    width: 0;
    height: 3px;

    background: #ff7a00;

    transition: 0.3s;
}

nav a:hover::before {
    left: 0;
    width: 100%;
}

/* ---------- MOBILE NAVIGATION ---------- */

@media (max-width: 700px) {
    header {
        padding: 35px 20px;
    }

    header h1 {
        font-size: 36px;
        letter-spacing: 3px;
    }

    header p {
        font-size: 12px;
    }

    nav {
        gap: 18px;
        padding: 12px 8px;
        flex-wrap: wrap;
    }

    nav a {
        font-size: 12px;
    }
}

nav a {
    font-family: "Orbitron", sans-serif !important;
}